<script lang="ts">
	export let inlay: Inlay;

	const formattedDate =
		inlay.attributes.uttered.getDate() +
		'-' +
		(inlay.attributes.uttered.getMonth() + 1) +
		'-' +
		inlay.attributes.uttered.getFullYear();
</script>

<article>
	{#if inlay.attributes.thumbnail}
		<!-- add thumbnail -->
	{/if}
	<p>{formattedDate}</p>
	<h1><a sveltekit:prefetch href={inlay.attributes.url}>{inlay.attributes.title}</a></h1>
	<p>{inlay.attributes.lead}</p>
</article>
