<script>
	import { page } from '$app/stores';
	import { theme, showOverleaf } from '$lib/stores';
	import { writable } from 'svelte/store';

	function toggleTheme() {
		return $theme === 'light' ? theme.set('dark') : theme.set('light');
	}
	const isMenuOpen = writable(false);
</script>

<header>
	<nav id="navbar">
		<ul>
			<li class="item--small">
				<button class="button--icon--small" on:click={toggleTheme}>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						class="h-6 w-6"
						fill="none"
						viewBox="0 0 24 24"
						stroke="currentColor"
						stroke-width="2"
					>
						{#if $theme === 'light'}
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z"
							/>
						{:else}
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z"
							/>
						{/if}
					</svg>
				</button>
			</li>
			<li class:active={$page.url.pathname === 'about'} class="item--small">
				<a class="button--icon--small" sveltekit:prefetch href="/bw/about">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						class="h-6 w-6"
						fill="none"
						viewBox="0 0 24 24"
						stroke="currentColor"
						stroke-width="2"
					>
						<path
							stroke-linecap="round"
							stroke-linejoin="round"
							d="M10 6H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V8a2 2 0 00-2-2h-5m-4 0V5a2 2 0 114 0v1m-4 0a2 2 0 104 0m-5 8a2 2 0 100-4 2 2 0 000 4zm0 0c1.306 0 2.417.835 2.83 2M9 14a3.001 3.001 0 00-2.83 2M15 11h3m-3 4h2"
						/>
					</svg>
				</a>
			</li>
			<li id="bw-marcle-item" class:active={$page.url.pathname === '/'}>
				<a id="bw-marcle-link" class="button--icon" sveltekit:prefetch href="/">
					<svg
						id="bw-marcle"
						version="1.1"
						viewBox="0 0 1024 1024"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							d="m618.84 48.92c-42.7 0.8-86.3 8.1-138.6 9.2-120.3 2.5-182.7 28.5-271.4 117.2-50.6 50.6-104.3 94.9-140.3 160.6-36.4 66.5-13.9 98.5-25.2 151.6-5.5 26.1 5.2 69.8 13.1 93.2 43.1 127.9 7.7 197.3 84.7 279 48 50.7 161 55.7 205.5 74.9 44.9 19.3 148 35 203.6 33.2 214.4-7.2 345-114.2 401.1-313.6 33.4-118.5 38-212.8 5-316.5-12.6-39.6-76.9-126.6-105.6-151-28-23.8-50.5-84-97.8-108a269.3 269.3 0 0 0-134.1-29.6z"
							fill="var(--brand-1)"
						/>
						<path
							d="m446.24 166.12c-23.2 25.1-52.8 68.8-51.7 101 71.6-81.5 121-95.8 165.4-94.6 37 1 54 18.3 110.3 29.7a431.1 431.1 0 0 1-51.7 47.4c107.6-27.1 146.7 35.3 171 59.5-11.6 1.2-21.1 5.8-35.6 3.5 62.8 56.4 65.3 97.2 67.5 138-39.3-6.8-97-23.8-115.3-38-27.3-21.5-53.8-89.1-110.3-104.7 36.5 25.4 60 68.8 69 104.6-70.6-51.8-113-51.4-147.2-76.3 5.2 18.2 19 38.5 26.7 59-57.5-0.2-115-10-170.4-48.4 37.6-41.1 156.7-103.7 276.8-65-135-69.2-331.2 16.4-435.3 238.9-10.8 2.2-22.3 9.8-33.9 17.2a621.9 621.9 0 0 1 82.6-140.4c-9.5-31.2-9.7-67 4.2-109.9 5.3 14.4 10.5 34.4 23.6 48.3 3.5-67.5 41.4-146.7 154.2-170zm-83 193.7c21.4 10.5 42.5 31 65.3 45.4-32.2 13.9-71.2 22-112.4 4.9a277.3 277.3 0 0 1 47.2-50.3zm42.799 146.9c-25-0.4-75.299 11.6-118.7 31.6-66.6 30.8-102.9 72.5-99.6 86.5a128 128 0 0 0 19.4 44.6c1.7 2.2 7 2.9992 11 2.6992 68.5-4.6 167.3-49.699 219.8-115.2 1.2-1.5 0.7-4 0-6-5.1-13.6-10.699-27.3-16.699-39.6-1.4-3-6.9012-4.5-15.201-4.5zm-17 12.799h0.10156c4 0 6.4992 0.70117 7.1992 2.2012 3.8 7.9-41.599 39.398-79.199 58.398-37.6 18.9-102.5 41.801-106.9 34.301-4.3-7.6 42.5-45.8 84-65.6 33.8-16 77.599-29.201 94.799-29.301zm427.5 14.7c14.8 0 28.7 8.7 31 24-1.9 22.5-5 30.7-14 53.7-7.8-23.4-42.9-31-62.4-24.7a299.2 299.2 0 0 1 25.6-47.6 38 38 0 0 1 19.8-5.4zm12.5 41.3c-1.8-0.5-5 2.2-5.6 4.5-0.5 2 0.8 8.4 3 9.6 1.4 0.7 6.7 2.5 8.6-2.4 2-5.2-4.2-11.1-6-11.7zm-384.4 11.8c75.1 121.6 254.7 115.4 325 16 27-4.7 50.7 8.8 54 28.5-119.9 270.5-450.3 282.6-588.8 69.6 89-16.5 164.6-56.4 209.7-114.2z"
							fill="var(--overside-1)"
						/>
					</svg>
				</a>
			</li>
			<li class:active={$page.url.pathname === 'chat'} class="item--small">
				<a class="button--icon--small" sveltekit:prefetch href="/bw/chat">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						class="h-6 w-6"
						fill="none"
						viewBox="0 0 24 24"
						stroke="currentColor"
						stroke-width="2"
					>
						<path
							stroke-linecap="round"
							stroke-linejoin="round"
							d="M17 8h2a2 2 0 012 2v6a2 2 0 01-2 2h-2v4l-4-4H9a1.994 1.994 0 01-1.414-.586m0 0L11 14h4a2 2 0 002-2V6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2v4l.586-.586z"
						/>
					</svg>
				</a>
			</li>
			<li class="item--small">
				<button class="button--icon--small" on:click={() => isMenuOpen.set(!$isMenuOpen)}>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						class="h-6 w-6"
						fill="none"
						viewBox="0 0 24 24"
						stroke="currentColor"
						stroke-width="2"
					>
						<path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
					</svg>
				</button>
			</li>
		</ul>
	</nav>
	{#if $isMenuOpen}
		<section id="navigation-menu">
			<h1 class="unsightly">Navigation Menu</h1>
			<button id="button--close-menu--fullscreen" on:click={() => isMenuOpen.set(!$isMenuOpen)} />
			<nav>
				<ul>
					<li class:active={$page.url.pathname === 'chat'} class="item--small">
						<a class="button--icon--small button" sveltekit:prefetch href="/bw/contact">Contact</a>
					</li>
					<li>
						<button
							on:click={() => {
								$showOverleaf === 'true' ? showOverleaf.set('false') : showOverleaf.set('true');
							}}>Reset Greetings Card</button
						>
					</li>
				</ul>
			</nav>
		</section>
	{/if}
</header>

<style lang="scss">
	header {
		z-index: 999;
		position: fixed;
		bottom: 1vh;
		inset-inline: 0;
		display: flex;
		flex-direction: column-reverse;
		--inline-margin: 3vw;
	}
	#navbar {
		margin-inline: var(--inline-margin);
		ul {
			display: grid;
			grid-template-columns: 1fr 1fr 5rem 1fr 1fr;
			grid-template-rows: 1rem 3rem 1rem;
			:nth-child(1) {
				grid-column: 1 /2;
			}
			:nth-child(2) {
				grid-column: 2 /3;
			}
			:nth-child(3) {
				grid-column: 3 /4;
			}
			:nth-child(4) {
				grid-column: 4 /5;
			}
			:nth-child(5) {
				grid-column: 5 /6;
			}
		}
		ul::before {
			content: '';
			z-index: -1;

			background-color: var(--overside-1);
			box-shadow: hsl(192 6% 16% / 0.2) 0 0 0.5rem;
			outline: 2px solid var(--overside-1);
			grid-row: 2 / 3;
			grid-column: 1 / 6;
		}
		.item--small {
			display: flex;
			justify-content: center;
			align-items: center;
			grid-row: 2 / 3;
			border-block: 2px black solid;
		}
		.button--icon--small {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 2rem;
			height: 3rem;
		}
		#bw-marcle-item {
			grid-row: 1 / 4;
		}
		#bw-marcle-link {
			width: 4rem;
			height: 4rem;
		}
	}

	#navigation-menu {
		#button--close-menu--fullscreen {
			position: fixed;
			z-index: -1;
			inset: 0;
		}
		nav {
			background-color: var(--overside-1);
			box-shadow: hsl(192 6% 16% / 0.2) 0 0 0.5rem;
			margin-inline: var(--inline-margin);
			border-radius: 0.5rem;
			padding: 0.5rem;
			li > * {
				width: 100%;
				height: 3rem;
			}
		}
	}
</style>
