*,
*::before,
*::after {
	box-sizing: border-box;
}
html:focus-within {
   scroll-behavior: smooth;
 }

svg {
	display: block;
}
body {
   overflow-x: hidden;
   line-height: 1.5;
}

ul {
	list-style: none;
	padding-left: 0;
}
a[class] {
	text-decoration: none;
}
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul,
ol {
  margin: 0;
}

img,
picture,
svg,
button {
  display: block;
}

:where(button){
   cursor: pointer;
   color: unset;
   background-color: unset;
   border: unset;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

button, a.button{
   display: flex;
   justify-content: center;
   align-items: center;
   
}
a:link.button, a:visited.button,a:hover.button, a:active.button{
   color: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
   html:focus-within {
    scroll-behavior: auto;
   }
   
   *,
   *::before,
   *::after {
     animation-duration: 0.01ms !important;
     animation-iteration-count: 1 !important;
     transition-duration: 0.01ms !important;
     scroll-behavior: auto !important;
   }
 }