<script lang="ts">
	import { onMount } from 'svelte';
	import { fade } from 'svelte/transition';
	import { showOverleaf } from '$lib/stores';

	let sightly = false;

	onMount(() => {
		sightly = true;
	});

	function bore(node, { duration }) {
		return {
			duration,
			css: (t) => {
				const ease = 100 - t * 100;
				return `
            -webkit-mask-image: radial-gradient(
			      circle at center 80%,
			      transparent ${ease}%,
			      white ${ease}%
            );
            mask-image: radial-gradient(
			      circle at center 80%,
			      transparent ${ease}%,
			      white ${ease}%
            );
            `;
			}
		};
	}
</script>

{#if sightly}
	<section id="webstead-overleaf" out:bore={{ duration: 600 }} class="h-stretch w-stretch">
		<button
			id="button--enter-stead"
			on:click={() => {
				showOverleaf.set('false');
			}}
		>
			<div id="webstead-overleaf-inholder">
				<h1 class="unsightly">Introduction Card</h1>
				<div id="text-column">
					<p in:fade={{ duration: 1500 }} id="text-cold">
						The world has become a <span>cold</span> place...
					</p>
					<p id="text-warm" in:fade={{ delay: 1000, duration: 3000 }}>
						...but, Blacwell is a hearth, out from the cold, where one can find respite, while we <i
							>merrymake</i
						>
						the tradition and folklore that makes us <span>warm</span>.
					</p>
				</div>
				<div>
					<button id="enter-button" class="icon-button" in:fade={{ delay: 2000, duration: 3000 }}>
						<svg
							id="hearth-icon"
							version="1.1"
							viewBox="0 0 64 64"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								d="m44.535 18.037-29.852 13.014 38.307-0.47461s2.4324-3.4404 0.64844-7.7734c-1.7839-4.333-9.1035-4.7656-9.1035-4.7656zm-30.824 2.0195c-0.99116 0.017156-2.0545 0.19492-3.1367 0.63086-3.5809 1.4425-3.831 8.7756-1.9141 10.23l2.502 0.019531 14.398-6.7598-7.7598-3.3086c-0.98874-0.42159-2.4379-0.84109-4.0898-0.8125zm42.455 12.369a1 1 0 0 0-1 1v11.256a1 1 0 0 0 1 1h6.4902a1 1 0 0 0 1-1v-11.256a1 1 0 0 0-1-1h-6.4902zm-54.898 0.11328a1 1 0 0 0-1 1v11.312a1 1 0 0 0 1 1h6.6992a1 1 0 0 0 1-1v-11.312a1 1 0 0 0-1-1h-6.6992zm10.561 0.11719a1 1 0 0 0-1 1v13.225a1 1 0 0 1-1 1h-8.8281a1 1 0 0 0-1 1v14.119a1 1 0 0 0 1 1h62a1 1 0 0 0 1-1v-14.119a1 1 0 0 0-1-1h-8.8281a1 1 0 0 1-1-1v-13.225a1 1 0 0 0-1-1h-40.344z"
								fill="#d5d5d5"
							/>
						</svg>Step Inside
					</button>
				</div>
			</div>
		</button>
	</section>
{/if}

<style lang="scss">
	#button--enter-stead {
		width: 100%;
		height: 100%;
		-webkit-tap-highlight-color: transparent;
	}
	#webstead-overleaf {
		--colour-text-warm-base: hsl(0, 0%, 84%);
		--colour-text-warm-highlight: hsl(11, 86%, 59%);
		--colour-text-cold-base: hsl(174, 33%, 88%);
		--colour-text-cold-highlight: hsl(175, 99%, 71%);
		--leaf-margin-narrow: 2rem;
		position: absolute;

		top: 0;
		left: 0;

		background-color: #24252a;
		z-index: 999;
		overflow: hidden;

		color: aliceblue;
		// -webkit-mask-image: radial-gradient(
		// 	circle at center 80%,
		// 	transparent var(--percent),
		// 	white var(--percent)
		// );
		// mask-image: radial-gradient(
		// 	circle at center 80%,
		// 	transparent var(--percent),
		// 	white var(--percent)
		// );
	}
	#webstead-overleaf-inholder {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		width: 100%;
		height: 100%;
		padding-inline: var(--leaf-margin-narrow);
	}

	#text-column {
		max-width: 36rem;
		// margin-inline: clamp(1rem, calc(25vw - 5rem), 20rem);
		display: flex;
		gap: 2rem;
		flex-direction: column;
	}
	#text-cold {
		color: var(--colour-text-cold-base);
		font-family: var(--font-sans);
		//font-size: clamp(2rem, calc(12vw - 0.5rem), 4.3rem);
		font-size: clamp(2rem, 9vw, 3.6rem);
		font-weight: var(--weight-thin);
		text-transform: uppercase;

		span {
			animation-name: to-cold;
			animation-duration: 1s;
			animation-delay: 3s;
			animation-fill-mode: forwards;
		}
	}
	#text-warm {
		color: var(--colour-text-warm-base);
		font-family: var(--font-serif);
		//font-size: clamp(2rem, calc(11vw - 1rem), 3.4rem);
		font-size: clamp(2rem, 8vw, 3.3rem);
		font-weight: 200;
		line-height: clamp(1.2em, 10vw, 1.5em);

		span {
			animation-name: to-warm;
			animation-duration: 2s;
			animation-delay: 3s;
			animation-fill-mode: forwards;
		}
	}
	#hearth-icon {
		width: 4rem;
		height: 4rem;
	}
	#enter-button {
		display: flex;
		align-items: center;
		flex-direction: column;
		font-size: var(--font-size-4);
	}

	@keyframes to-warm {
		from {
			color: var(--colour-text-warm-base);
		}
		to {
			color: var(--colour-text-warm-highlight);
		}
	}
	@keyframes to-cold {
		from {
			color: var(---colour-text-cold-base);
		}
		to {
			color: var(--colour-text-cold-highlight);
		}
	}
</style>
