<script lang="ts" context="module">
	/** @type {import('./[slug]').Load} */
	export async function load({ url }) {
		const href = url.href;
		return { stuff: { href } };
	}
</script>

<script lang="ts">
	import '../app.css';
	import Header from '$lib/Header.svelte';
	import { page } from '$app/stores';
	import { showOverleaf, theme } from '$lib/stores';
	import { browser } from '$app/env';
	import WebsteadOverleaf from '$lib/WebsteadOverleaf.svelte';
	import Navigator from '$lib/Navigator.svelte';

	const overleafEnabled = $showOverleaf;

	$: browser ? document.documentElement.setAttribute('data-user-theme', $theme) : undefined;
</script>

<svelte:head>
	<link rel="alternate" hreflang="en" href={$page.stuff.href} />
	<link rel="canonical" href={$page.stuff.href} />
</svelte:head>

{#if $theme}
	{#if $showOverleaf === 'true'}
		<WebsteadOverleaf />
	{:else}
		<inhold-wrapper class="w-stretch min-h-stretch">
			<Navigator />

			<main>
				<slot />
			</main>

			<footer>
				<p>© 2022 Blacwell</p>
			</footer>
		</inhold-wrapper>
	{/if}
{/if}

<style lang="scss">
	inhold-wrapper {
		max-width: 100rem;
		margin-inline: clamp(1rem, 6vw, 5rem);
	}
	inhold-wrapper {
		display: flex;
		flex-direction: column;
		overflow-x: hidden;
	}
</style>
