<script lang="ts" context="module">
	import { fetchInlays } from '$lib/toolbox/inlay-fetcher';

	/** @type {import('./[slug]').Load} */
	export async function load({ fetch }) {
		const inlays = await fetchInlays(fetch);
		return { props: { inlays } };
	}
</script>

<script lang="ts">
	import InlayOverside from '$lib/InlayOverside.svelte';
	import WebsteadOverleaf from '$lib/WebsteadOverleaf.svelte';

	export let inlays: Inlays;
</script>

<svelte:head>
	<title>Blacwell, the home of European folklore</title>
	<meta
		name="description"
		content="By podcast, article, or film; we, at Blacwell, shall kindle your soul with the wonderful traditions and lore inherited from our European forefathers."
	/>
</svelte:head>

<h1 class="unsightly">Blacwell</h1>

<section>
	<h1>Latest Content</h1>
	{#each inlays as inlay}
		<InlayOverside {inlay} />
	{/each}
</section>
