<script>
	const rss = `<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" xmlns:content="http://purl.org/rss/1.0/modules/content/">
   <channel>
      <title>Tales Told</title>
      <link>https://blacwell.com</link>
      <language>en-GB</language>
      <description>Delve into Europe&apos;s wonderful history and tradition—without modern apology and distortion—one tale at a time, alongside Blacwell.</description>
      <image>
         <url>https://cdn.blacwell.com/tt--tales-told--podcast-artwork.png</url>
         <title>Tales Told</title>
         <link>https://blacwell.com</link>
      </image>

      <itunes:image href="https://cdn.blacwell.com/tt--tales-told--podcast-artwork.png" />
      <itunes:category text="History" />
      <itunes:category text="Society &amp; Culture" />
      <itunes:summary>
         Every fortnight, we explore a new tale—whether, fact or fiction, prose or poety, marvellous or mundane, and so forth—seeking to uncover what it can tell us about how our forefathers lived and imagined, and, hopefully, provide us some wisdom we can action in our own lives.&lt;br /&gt; 
         &lt;br /&gt;
         Not satisfied with having to wait two week between episodes? Thread Ends is here to soothe the mind: it is a time, between the main episodes, where we gather the loose ends of the latest episode, by answering questions or feedback, and discussing the content that did not make it into the main episode; all delivered in a more relaxed and conversational manner.&lt;br /&gt;
         &lt;br /&gt;
         Still not enough? Head over to the webstead (
         <![CDATA[
             <a href="https:/blacwell.com">blacwell.com</a>
           ]]>
         ), to see what else we offer.&lt;br /&gt;
         &lt;br /&gt;
         Wish to share a thought with us? Post us an email (
         <![CDATA[
             <a href="mailto:talestold@blacwell.com">talestold@blacwell.com</a>
           ]]>
         ), or visit the webstead to find the live chat.&lt;br /&gt;
         &lt;br /&gt;
         With all that said, welcome to Tales Told: a home for Europe&apos;s tales.
      </itunes:summary>
      <itunes:explicit>false</itunes:explicit>
      <itunes:author>Blacwell</itunes:author>
      <itunes:owner>
         <itunes:name>Alder</itunes:name>
         <itunes:email>alder@blacwell.com</itunes:email>
      </itunes:owner>
      <itunes:title>Tales Told</itunes:title>
      <itunes:type>episodic</itunes:type>
      <copyright>Copyright 2022 Blacwell</copyright>
   </channel>
</rss>`;
</script>

<pre>{rss}</pre>
