<script lang="ts" context="module">
	import { fetchInlay } from '$lib/toolbox/inlay-fetcher';

	/** @type {import('./[slug]').Load} */
	export async function load({ params, fetch }) {
		try {
			const inlay = await fetchInlay(params, fetch);
			return { props: { inlay } };
		} catch (error) {
			console.error(error);
			return { error };
		}
	}
</script>

<script lang="ts">
	export let inlay: Inlay;
</script>

{#if inlay}
	{#if inlay.attributes.audio}
		<figure>
			<figcaption>Listen to the spoken version:</figcaption>
			<audio controls src={inlay.attributes.audio}>
				Your browser does not support the <code>audio</code> element.
			</audio>
		</figure>
	{/if}

	<h2>{inlay.attributes.title}</h2>
	<p>{inlay.attributes.lead}</p>
	{@html inlay.body}
{:else}
	<p>No Content!</p>
{/if}
