@import url('./lib/stathel.css');

:root{
	/* text sizes; use relative system */
	--font-size-1: 0.563rem; /* tiny */
	--font-size-2: 0.75rem; /*  small*/
	--font-size-3: 1rem; /* // normal*/
	--font-size-4: 1.333rem; /*  big*/
	--font-size-5: 1.777rem; /*  heading 3*/
	--font-size-6: 2.369rem; /*  heading 2*/
	--font-size-7: 3.157rem; /* heading 1*/
	--font-size-8: 4.209rem; /*  title*/
	--font-size-9: 5.61rem; /* display*/

	--marcle-size: 4rem;

	--font-sans: inter, ui-sans-serif, sans;
	--font-serif: 'Crimson Pro', ui-serif, serif;
	--font-mono: fira-mono, ui-monospace, mono;

	--overside-1: hsl(29, 100%, 94%);
	--overside-2: ;
	--overside-3: ;
	--overside-4: ;

	--brand-1: #6b0437;
	--brand-2: #d74040;
	--text-1: #080400;
	--text-2: #222120;

   --weight-thin: 100;
   --weight-light: 250;
   --weight-regular: 400;
   --weight-bold: 600 ;
   --weight-black: 800 ;
}

:root[data-user-theme=dark]{
   --overside-1: hsl(30, 6%, 20%);
	--overside-2: ;
	--overside-3: ;
	--overside-4: ;

	--brand-1: #b90b62;
	--brand-2: #d74040;
	--text-1: #e7e2dc;
	--text-2: #c0bab5;

   --weight-adjustment: 50;

   --weight-light: 200;
   --weight-regular: 350;
   --weight-bold: 560;
   --weight-black: 760;
}
body {
	background-color: var(--overside-1);
   color: var(--text-1);
}
h1 {
	font-size: var(--font-size-8);
	font-family: var(--font-serif);
	font-weight: var(--weight-bold);
	line-height: 1;
}
h2 {
	font-size: var(--font-size-7);
}
h3 {
	font-size: var(--font-size-6);
}
h4 {
	font-size: var(--font-size-5);
}
p.large {
	font-size: var(--font-size-4);
}
p {
	font-size: var(--font-size-3);
}
p.small {
	font-size: var(--font-size-2);
}
.ui {
	font-family: var(--font-sans);
}

.unsightly{
   border: 0;
   clip: rect(0 0 0 0);
   height: auto;
   margin: 0;
   overflow: hidden;
   padding: 0;
   position: absolute;
   width: 1px;
   white-space: nowrap;
}

button, a.button{
   font-family: var(--font-sans);
}


.w-stretch{
   width: -webkit-fill-available; /* For Firefox */
   width: -moz-available; /* For Chrome */
   width: stretch; /* One day */
}

.max-w-stretch{
   max-width: -webkit-fill-available; /* For Firefox */
   max-width: -moz-available; /* For Chrome */
   max-width: stretch; /* One day */
}

.min-w-stretch{
   min-width: -webkit-fill-available; /* For Firefox */
   min-width: -moz-available; /* For Chrome */
   min-width: stretch; /* One day */
}

.h-stretch{
   height: 100%; /* For Firefox */
   height: -webkit-fill-available; /* For Chrome */
   height: stretch; /* One day */
}

.max-h-stretch{
   max-height: 100%; /* For Firefox */
   max-height: -webkit-fill-available; /* For Chrome */
   max-height: stretch; /* One day */
}

.min-h-stretch{
   min-height: 100%; /* For Firefox */
   min-height: -webkit-fill-available; /* For Chrome */
   min-height: stretch; /* One day */
}